n8n/paypilot-chase-workflow.json
{
  "name": "PayPilot — Invoice Chase Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paypilot-chase",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "paypilot-chase"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate invoice data from PayPilot\nconst body = $input.first().json.body || $input.first().json;\nconst invoice = body.invoice;\nconst tenantId = body.tenantId;\n\nif (!invoice || !tenantId) {\n  throw new Error('Missing invoice or tenantId');\n}\n\n// Determine chase tone based on days overdue\nlet tone;\nlet urgency;\nif (invoice.days_overdue <= 14) {\n  tone = 'friendly';\n  urgency = 'gentle reminder';\n} else if (invoice.days_overdue <= 30) {\n  tone = 'firm';\n  urgency = 'follow-up';\n} else {\n  tone = 'urgent';\n  urgency = 'final notice';\n}\n\n// Format currency\nconst amount = new Intl.NumberFormat('en-NZ', {\n  style: 'currency',\n  currency: invoice.currency || 'NZD'\n}).format(invoice.amount_owed);\n\nreturn [{\n  json: {\n    invoice,\n    tenantId,\n    tone,\n    urgency,\n    amountFormatted: amount,\n    debtorName: invoice.debtor_name,\n    debtorEmail: invoice.debtor_email,\n    debtorPhone: invoice.debtor_phone || null,\n    invoiceNumber: invoice.invoice_number || `INV-${invoice.id.slice(0,8)}`,\n    daysOverdue: invoice.days_overdue,\n    dueDate: invoice.due_date,\n    timesChased: invoice.times_chased\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Invoice Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional accounts receivable assistant for a New Zealand business. Write concise, professional invoice follow-up emails. Be polite but clear. Do not use filler words. Do not add subject lines — just the body text. Do not use markdown. Keep it under 150 words."
            },
            {
              "role": "user",
              "content": "=Write a {{ $json.tone }} payment reminder email for:\n- Client: {{ $json.debtorName }}\n- Invoice: {{ $json.invoiceNumber }}\n- Amount: {{ $json.amountFormatted }}\n- Days overdue: {{ $json.daysOverdue }}\n- Due date: {{ $json.dueDate }}\n- Times previously contacted: {{ $json.timesChased }}\n\nThis is a {{ $json.urgency }}. {{ $json.timesChased === 0 ? 'This is the first contact.' : `We have contacted them ${$json.timesChased} time(s) before.` }}\n\nEnd with a call to action to pay immediately or get in touch to discuss."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 300
        }
      },
      "id": "generate-email",
      "name": "Generate Email with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [680, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge AI email body back with invoice data\nconst emailBody = $input.first().json.message.content;\nconst invoiceData = $('Prepare Invoice Data').first().json;\n\n// Build subject line based on tone\nlet subject;\nif (invoiceData.daysOverdue <= 14) {\n  subject = `Friendly reminder: ${invoiceData.invoiceNumber} — ${invoiceData.amountFormatted} outstanding`;\n} else if (invoiceData.daysOverdue <= 30) {\n  subject = `Payment required: ${invoiceData.invoiceNumber} — ${invoiceData.amountFormatted}`;\n} else {\n  subject = `URGENT: ${invoiceData.invoiceNumber} is ${invoiceData.daysOverdue} days overdue — ${invoiceData.amountFormatted}`;\n}\n\nreturn [{\n  json: {\n    ...invoiceData,\n    emailSubject: subject,\n    emailBody: emailBody.trim()\n  }\n}];"
      },
      "id": "build-email",
      "name": "Build Final Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.SENDER_EMAIL }}",
        "toEmail": "={{ $json.debtorEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "emailFormat": "text",
        "text": "={{ $json.emailBody }}\n\n—\nThis message was sent on behalf of {{ $vars.BUSINESS_NAME }}.\nIf you have already paid, please disregard this message.",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Chase Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.debtorPhone !== null && $json.daysOverdue > 21 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "sms-check",
      "name": "Send SMS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Write a very short SMS payment reminder. Maximum 160 characters. Professional but direct. No emojis."
            },
            {
              "role": "user",
              "content": "=SMS reminder for {{ $json.debtorName }}: invoice {{ $json.invoiceNumber }} for {{ $json.amountFormatted }} is {{ $json.daysOverdue }} days overdue. Include a request to pay or get in touch."
            }
          ]
        },
        "options": {
          "maxTokens": 100
        }
      },
      "id": "generate-sms",
      "name": "Generate SMS with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1340, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "accountSid": "={{ $vars.TWILIO_ACCOUNT_SID }}",
        "from": "={{ $vars.TWILIO_FROM_NUMBER }}",
        "to": "={{ $('Prepare Invoice Data').first().json.debtorPhone }}",
        "message": "={{ $json.message.content }}"
      },
      "id": "send-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1560, 300],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "chase_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_id": "={{ $('Prepare Invoice Data').first().json.invoice.id }}",
            "tenant_id": "={{ $('Prepare Invoice Data').first().json.tenantId }}",
            "action_type": "email",
            "message_sent": "={{ $('Build Final Email').first().json.emailBody }}",
            "channel": "email",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "response_received": false
          }
        }
      },
      "id": "log-chase",
      "name": "Log Chase to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 480],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "contacted",
            "last_chased_at": "={{ new Date().toISOString() }}",
            "times_chased": "={{ $('Prepare Invoice Data').first().json.invoice.times_chased + 1 }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Prepare Invoice Data').first().json.invoice.id }}"
            }
          ]
        }
      },
      "id": "update-invoice",
      "name": "Update Invoice Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 480],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"invoiceId\": \"{{ $('Prepare Invoice Data').first().json.invoice.id }}\" }"
      },
      "id": "respond",
      "name": "Respond to PayPilot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Prepare Invoice Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Invoice Data": {
      "main": [
        [
          { "node": "Generate Email with AI", "type": "main", "index": 0 },
          { "node": "Send SMS?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Email with AI": {
      "main": [
        [{ "node": "Build Final Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Final Email": {
      "main": [
        [
          { "node": "Send Chase Email", "type": "main", "index": 0 },
          { "node": "Log Chase to Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Chase Email": {
      "main": [
        [{ "node": "Respond to PayPilot", "type": "main", "index": 0 }]
      ]
    },
    "Send SMS?": {
      "main": [
        [{ "node": "Generate SMS with AI", "type": "main", "index": 0 }],
        []
      ]
    },
    "Generate SMS with AI": {
      "main": [
        [{ "node": "Send SMS via Twilio", "type": "main", "index": 0 }]
      ]
    },
    "Log Chase to Supabase": {
      "main": [
        [{ "node": "Update Invoice Status", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "paypilot",
    "notes": "SETUP REQUIRED:\n1. Create webhook node — copy the webhook URL and set it as N8N_WEBHOOK_URL in PayPilot .env.local\n2. Add OpenAI API credentials (model: gpt-4o)\n3. Add SMTP credentials for your email provider\n4. Add Twilio credentials (optional, for SMS)\n5. Add Postgres credentials pointing to your Supabase database (connection string from Supabase dashboard → Settings → Database)\n6. Set n8n variables: SENDER_EMAIL, BUSINESS_NAME, TWILIO_ACCOUNT_SID, TWILIO_FROM_NUMBER\n7. Activate the workflow"
  }
}
